server{

	listen 80;
        listen [::]:80;

        server_name restofinder.rishabmalik.info;

        location / {
                proxy_pass http://localhost:5000;
                #try_files $uri $uri/ =404;
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection 'upgrade';
                proxy_set_header Host $host;
                proxy_set_header Origin '';
                proxy_cache_bypass $http_upgrade;
        }


 

}


